@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* font-family: 'Bebas Neue', cursive; */

:root {
  --text: #ffffff; 
  --red: #FE0000;
  --yellow: #FCFD19; 
}

/* body  */
body {
  /* reset */
  margin: 0;
  padding: 0;
  height: 100vh;

  /* code snipped from: https://codepen.io/bork/pen/WNrmWr */
  background: #040b3c;
  background: -moz-linear-gradient(top,  #040b3c 0%, #012459 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#040b3c), color-stop(100%,#012459));
  background: -webkit-linear-gradient(top,  #040b3c 0%,#012459 100%);
  background: -o-linear-gradient(top,  #040b3c 0%,#012459 100%);
  background: -ms-linear-gradient(top,  #040b3c 0%,#012459 100%);
  background: linear-gradient(to bottom,  #040b3c 0%,#012459 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040b3c', endColorstr='#012459',GradientType=0 );
}

main {
  display: none;
  justify-content: center;
  align-items: center;
}

ul {
  position: absolute;
  list-style-type: none;
}

form {
  margin-top: 1.5em;
}

/* switch buttons  */
input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

label {
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid var(--text);
  cursor: pointer;
  border-radius: 2px;
  color: var(--text);
  display: block;
  position: absolute;
  left: 2%;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  /* font-size: large; */
}

label:nth-of-type(2) {
  left: 12%;
}

label:nth-of-type(3) {
  left: 22%;
}

label:hover {
  background: black;
  transition: 0.2s ease-in-out;
}

label:active {
  background: var(--yellow);
}

input[type="radio"]:first-of-type:checked ~ main:first-of-type {
  display: flex;
}

input[type="radio"]:nth-of-type(2):checked ~ main:nth-of-type(2) {
  display: flex;
}

input[type="radio"]:nth-of-type(3):checked ~ main:nth-of-type(3) {
  display: flex;
}

main:first-of-type ul li {
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 2px;
  height: 80px;
  transform-origin: 50% 100%;
  border-radius: 15px 50px;
  overflow: hidden;
}



/* flare lines */
main:first-of-type ul li:nth-child(1) {
  transform: rotate(18deg) translate(-15px);
}
main:first-of-type ul li:nth-child(2) {
  transform: rotate(36deg) translate(-15px);
}
main:first-of-type ul li:nth-child(3) {
  transform: rotate(54deg) translate(-15px);
}
main:first-of-type ul li:nth-child(4) {
  transform: rotate(72deg) translate(-15px);
}
main:first-of-type ul li:nth-child(5) {
  transform: rotate(90deg) translate(-15px);
}
main:first-of-type ul li:nth-child(6) {
  transform: rotate(108deg) translate(-15px);
}
main:first-of-type ul li:nth-child(7) {
  transform: rotate(126deg) translate(-15px);
}
main:first-of-type ul li:nth-child(8) {
  transform: rotate(144deg) translate(-15px);
}
main:first-of-type ul li:nth-child(9) {
  transform: rotate(162deg) translate(-15px);
}
main:first-of-type ul li:nth-child(10) {
  transform: rotate(180deg) translate(-15px);
}
main:first-of-type ul li:nth-child(11) {
  transform: rotate(198deg) translate(-15px);
}
main:first-of-type ul li:nth-child(12) {
  transform: rotate(216deg) translate(-15px);
}
main:first-of-type ul li:nth-child(13) {
  transform: rotate(234deg) translate(-15px);
}
main:first-of-type ul li:nth-child(14) {
  transform: rotate(252deg) translate(-15px);
}
main:first-of-type ul li:nth-child(15) {
  transform: rotate(270deg) translate(-15px);
}
main:first-of-type ul li:nth-child(16) {
  transform: rotate(288deg) translate(-15px);
}
main:first-of-type ul li:nth-child(17) {
  transform: rotate(306deg) translate(-15px);
}
main:first-of-type ul li:nth-child(18) {
  transform: rotate(324deg) translate(-15px);
}
main:first-of-type ul li:nth-child(19) {
  transform: rotate(342deg) translate(-15px);
}
main:first-of-type ul li:nth-child(20) {
  transform: rotate(360deg) translate(-15px);
}


main:first-of-type ul li::before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 40px;
  background: var(--red); 
  animation: 2s ease-in-out 1s infinite explosion;
}

main:first-of-type ul li:nth-child(2n)::before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 30px;
  background: var(--yellow);
  animation: 2s ease-in-out 3s infinite explosion;
}

@keyframes explosion {
  0% {
    top: 100%;
  }
  33%,
  100% {
    top: -50%;
  }
}


/* flares position */
main:first-of-type ul:first-of-type {
  left: 50%;
  top: 50%;
  transform: scale(1.8);
}

main:first-of-type ul:first-of-type li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 0.2s;
}

main:first-of-type ul:nth-of-type(2) {
  left: 20%;
  top: 60%;
  transform: scale(1.4);
}

main:first-of-type ul:nth-of-type(2) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 0.4s;
}

main:first-of-type ul:nth-of-type(3) {
  left: 80%;
  top: 60%;
  transform: scale(1);
}

main:first-of-type ul:nth-of-type(3) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 0.6s;
}

main:first-of-type ul:nth-of-type(4) {
  left: 90%;
  top: 25%;
  transform: scale(.75);
}

main:first-of-type ul:nth-of-type(4) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 1s;
}

main:first-of-type ul:nth-of-type(5) {
  left: 90%;
  top: 75%;
  transform: scale(0.8);
}

main:first-of-type ul:nth-of-type(5) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 1.2s;
}

main:first-of-type ul:nth-of-type(6) {
  left: 10%;
  top: 15%;
  transform: scale(0.8);
}

main:first-of-type ul:nth-of-type(6) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 1.4s;
}

main:first-of-type ul:nth-of-type(7) {
  left: 50%;
  top: 15%;
  transform: scale(0.8);
}

main:first-of-type ul:nth-of-type(7) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 1.6s;
}

main:first-of-type ul:nth-of-type(8) {
  left: 50%;
  top: 15%;
  transform: scale(0.8);
}

main:first-of-type ul:nth-of-type(8) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 1.8s;
}


/* SECOND SHOW */

.pyro{
  background-color:green;
  width: 300px; 
  height: 300px;
}
.pyro > .before {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@keyframes bang {
  to {
    box-shadow: 226px -325.6666666667px #ff00ae, -208px -177.6666666667px #ffe600, -113px -220.6666666667px #aaff00, -64px -20.6666666667px #0022ff, 203px -202.6666666667px #0004ff, -12px -161.6666666667px #ff00c8, 138px -232.6666666667px #00ff1e, -249px -148.6666666667px #00e6ff, -42px -286.6666666667px #00ff95, -5px -0.6666666667px #c4ff00, 173px 6.3333333333px #00ff55, -44px -165.6666666667px #ff1500, -40px 2.3333333333px darkorange, 182px -276.6666666667px #ff0040, 108px -151.6666666667px #ff0015, 79px -89.6666666667px #ff0091, 122px -241.6666666667px #00ff44, 211px 38.3333333333px #fff700, -47px -147.6666666667px #ff00ee, -226px -118.6666666667px #7bff00, -37px -373.6666666667px #001aff, 204px -118.6666666667px #0091ff, 137px -63.6666666667px #15ff00, 62px -49.6666666667px #ff001e, 14px -11.6666666667px #ff003c, -222px -170.6666666667px #00ffee, -115px -163.6666666667px #9100ff, 223px -32.6666666667px #00ff84, -152px -49.6666666667px #ffee00, -192px -88.6666666667px deepskyblue, -50px -197.6666666667px #00ff2f, 126px -29.6666666667px #00ff37, -142px -387.6666666667px #d9ff00, 213px -53.6666666667px #d9ff00, -21px 35.3333333333px #001eff, 105px -366.6666666667px #8800ff, -94px 5.3333333333px #ff0088, 163px -306.6666666667px #1eff00, 45px -238.6666666667px #00ffb7, 31px -314.6666666667px #00ff26, 176px -180.6666666667px #00a6ff, 241px -11.6666666667px #0044ff, 88px -23.6666666667px #00aeff, -61px -158.6666666667px #33ff00, -56px 22.3333333333px #d9ff00, -214px -59.6666666667px #00e1ff, 121px -298.6666666667px #e1ff00, 123px -206.6666666667px #8800ff, -247px -284.6666666667px #fff700, -90px -310.6666666667px #00ff84, -116px -299.6666666667px #00ff11;
  }
}

/* @keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
} */