@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* font-family: 'Bebas Neue', cursive; */

:root {
  --text: #ffffff;
  --red: #ea2027;
  --blue: #3742fa;
}

/* body  */
body {
  font-family: "Bebas Neue", cursive;
  /* reset */
  margin: 0;
  padding: 0;
  height: 100vh;

  /* code snipped from: https://codepen.io/bork/pen/WNrmWr */
  background: #040b3c;
  background: -moz-linear-gradient(top, #040b3c 0%, #012459 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #040b3c),
    color-stop(100%, #012459)
  );
  background: -webkit-linear-gradient(top, #040b3c 0%, #012459 100%);
  background: -o-linear-gradient(top, #040b3c 0%, #012459 100%);
  background: -ms-linear-gradient(top, #040b3c 0%, #012459 100%);
  background: linear-gradient(to bottom, #040b3c 0%, #012459 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040b3c', endColorstr='#012459',GradientType=0 );
}

main {
  display: none;
  justify-content: center;
  align-items: center;
}

ul {
  position: absolute;
  list-style-type: none;
}

h1 {
  color: var(--text);
  font-size: 72px;
  letter-spacing: 2px;
  margin-top: 1.5em;
  margin-left: 0.5em;
}

form {
  margin-top: 1.5em;
}

/* switch buttons  */
input[type="radio"] {
  opacity: 0;
  z-index: 100;
}

label {
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid var(--text);
  cursor: pointer;
  border-radius: 2px;
  color: var(--text);
  display: block;
  position: absolute;
  left: 2%;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  /* font-size: large; */
}

label:nth-of-type(2) {
  left: 10em;
}

label:nth-of-type(3) {
  left: 20em;
}

label:hover {
  background: black;
  transition: 0.2s ease-in-out;
}

label:active {
  background: var(--blue);
}

input[type="radio"]:first-of-type:checked ~ main:first-of-type {
  display: flex;
}

input[type="radio"]:nth-of-type(2):checked ~ main:nth-of-type(2) {
  display: flex;
}

input[type="radio"]:nth-of-type(3):checked ~ main:nth-of-type(3) {
  display: flex;
}

main:first-of-type ul li {
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 2px;
  height: 80px;
  transform-origin: 50% 100%;
  border-radius: 15px 50px;
  overflow: hidden;
}

/* flare lines */
main:first-of-type ul li:nth-child(1) {
  transform: rotate(18deg) translate(-15px);
}
main:first-of-type ul li:nth-child(2) {
  transform: rotate(36deg) translate(-15px);
}
main:first-of-type ul li:nth-child(3) {
  transform: rotate(54deg) translate(-15px);
}
main:first-of-type ul li:nth-child(4) {
  transform: rotate(72deg) translate(-15px);
}
main:first-of-type ul li:nth-child(5) {
  transform: rotate(90deg) translate(-15px);
}
main:first-of-type ul li:nth-child(6) {
  transform: rotate(108deg) translate(-15px);
}
main:first-of-type ul li:nth-child(7) {
  transform: rotate(126deg) translate(-15px);
}
main:first-of-type ul li:nth-child(8) {
  transform: rotate(144deg) translate(-15px);
}
main:first-of-type ul li:nth-child(9) {
  transform: rotate(162deg) translate(-15px);
}
main:first-of-type ul li:nth-child(10) {
  transform: rotate(180deg) translate(-15px);
}
main:first-of-type ul li:nth-child(11) {
  transform: rotate(198deg) translate(-15px);
}
main:first-of-type ul li:nth-child(12) {
  transform: rotate(216deg) translate(-15px);
}
main:first-of-type ul li:nth-child(13) {
  transform: rotate(234deg) translate(-15px);
}
main:first-of-type ul li:nth-child(14) {
  transform: rotate(252deg) translate(-15px);
}
main:first-of-type ul li:nth-child(15) {
  transform: rotate(270deg) translate(-15px);
}
main:first-of-type ul li:nth-child(16) {
  transform: rotate(288deg) translate(-15px);
}
main:first-of-type ul li:nth-child(17) {
  transform: rotate(306deg) translate(-15px);
}
main:first-of-type ul li:nth-child(18) {
  transform: rotate(324deg) translate(-15px);
}
main:first-of-type ul li:nth-child(19) {
  transform: rotate(342deg) translate(-15px);
}
main:first-of-type ul li:nth-child(20) {
  transform: rotate(360deg) translate(-15px);
}

main:first-of-type ul li::before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 40px;
  background: var(--red);
  animation: 2s ease-in-out 1s infinite explosion;
}

main:first-of-type ul li:nth-child(2n)::before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 30px;
  background: var(--blue);
  animation: 2s ease-in-out 3s infinite explosion;
}

@keyframes explosion {
  0% {
    top: 100%;
  }
  50%,
  100% {
    top: -50%;
    background: white;
  }
}

/* flares position */
main:first-of-type ul:first-of-type {
  left: 50%;
  top: 50%;
  transform: scale(1.8);
}

main:first-of-type ul:first-of-type li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 0.2s;
}

main:first-of-type ul:nth-of-type(2) {
  left: 20%;
  top: 60%;
  transform: scale(1.4);
}

main:first-of-type ul:nth-of-type(2) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 0.4s;
}

main:first-of-type ul:nth-of-type(3) {
  left: 80%;
  top: 60%;
  transform: scale(1);
}

main:first-of-type ul:nth-of-type(3) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 0.6s;
}

main:first-of-type ul:nth-of-type(4) {
  left: 90%;
  top: 25%;
  transform: scale(0.75);
}

main:first-of-type ul:nth-of-type(4) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 1s;
}

main:first-of-type ul:nth-of-type(5) {
  left: 90%;
  top: 75%;
  transform: scale(0.8);
}

main:first-of-type ul:nth-of-type(5) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 1.2s;
}

main:first-of-type ul:nth-of-type(6) {
  left: 10%;
  top: 15%;
  transform: scale(0.8);
}

main:first-of-type ul:nth-of-type(6) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 1.4s;
}

main:first-of-type ul:nth-of-type(7) {
  left: 50%;
  top: 15%;
  transform: scale(0.8);
}

main:first-of-type ul:nth-of-type(7) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 1.6s;
}

main:first-of-type ul:nth-of-type(8) {
  left: 50%;
  top: 15%;
  transform: scale(0.8);
}

main:first-of-type ul:nth-of-type(8) li::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 1.8s;
}

/* SECOND SHOW */
/* shadows around this box will animate (each comma represents a bubble) */
main:nth-of-type(2) > div {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
}

main:nth-of-type(2) div:nth-of-type(1) {
  width: 4px;
  height: 4px;
  left: 50%;
  top: 50%;

  animation: explosion-2-blue 2s ease-in-out infinite;
  animation-delay: 0.2s;
}

main:nth-of-type(2) div:nth-of-type(2) {
  left: 20%;
  top: 60%;
  width: 6px;
  height: 6px;

  animation: 1.5s explosion-2-red ease-in-out infinite;
  animation-delay: 0.4s;
}

main:nth-of-type(2) div:nth-of-type(3) {
  left: 80%;
  top: 60%;
  width: 8px;
  height: 8px;

  animation: 1s explosion-2-blue ease-in-out infinite;
  animation-delay: 0.6s;
}

main:nth-of-type(2) div:nth-of-type(4) {
  left: 90%;
  top: 25%;
  width: 4px;
  height: 4px;

  animation: 1s explosion-2-red ease-in-out infinite;
  animation-delay: 1s;
}

main:nth-of-type(2) div:nth-of-type(5) {
  left: 60%;
  top: 90%;
  width: 4px;
  height: 4px;

  animation: 1s explosion-2-blue ease-in-out infinite;
  animation-delay: 1.2s;
}

main:nth-of-type(2) div:nth-of-type(6) {
  left: 50%;
  top: 15%;
  width: 4px;
  height: 4px;

  animation: 1s explosion-2-red ease-in-out infinite;
  animation-delay: 1.4s;
}

main:nth-of-type(2) div:nth-of-type(7) {
  left: 10%;
  top: 90%;
  width: 4px;
  height: 4px;

  animation: 1s explosion-2-blue ease-in-out infinite;
  animation-delay: 1.8s;
}

/* De berekeningen heb ik niet zelf gemaakt, ondanks dat kan ik je wel alles uitleggen. */
@keyframes explosion-2-red {
  to {
    box-shadow: 226px -325.6666666667px #ea2027,
      -208px -177.6666666667px #ea2027, -113px -220.6666666667px #ea2027,
      -64px -20.6666666667px #ea2027, 203px -202.6666666667px #ea2027,
      -12px -161.6666666667px #ea2027, 138px -232.6666666667px #ea2027,
      -249px -148.6666666667px #ea2027, -42px -286.6666666667px #ea2027,
      -5px -0.6666666667px #ea2027, 173px 6.3333333333px #ea2027,
      -44px -165.6666666667px #ea2027, -40px 2.3333333333px #ea2027,
      182px -276.6666666667px #ea2027, 108px -151.6666666667px #ea2027,
      79px -89.6666666667px #ea2027, 122px -241.6666666667px #ea2027,
      211px 38.3333333333px #ea2027, -47px -147.6666666667px #ea2027,
      -226px -118.6666666667px #ea2027, -37px -373.6666666667px #ea2027,
      204px -118.6666666667px #ea2027, 137px -63.6666666667px #ea2027,
      62px -49.6666666667px #ea2027, 14px -11.6666666667px #ea2027,
      -222px -170.6666666667px #ea2027, -115px -163.6666666667px #ea2027,
      223px -32.6666666667px #ea2027, -152px -49.6666666667px #ea2027,
      -192px -88.6666666667px #ea2027, -50px -197.6666666667px #ea2027,
      126px -29.6666666667px #ea2027, -142px -387.6666666667px #ea2027,
      213px -53.6666666667px #ea2027, -21px 35.3333333333px #ea2027,
      105px -366.6666666667px #ea2027, -94px 5.3333333333px #ea2027,
      163px -306.6666666667px #ea2027, 45px -238.6666666667px #ea2027,
      31px -314.6666666667px #ea2027, 176px -180.6666666667px #ea2027,
      241px -11.6666666667px #ea2027, 88px -23.6666666667px #ea2027,
      -61px -158.6666666667px #ea2027, -56px 22.3333333333px #ea2027,
      -214px -59.6666666667px #ea2027, 121px -298.6666666667px #ea2027,
      123px -206.6666666667px #ea2027, -247px -284.6666666667px #ea2027,
      -90px -310.6666666667px #ea2027, -116px -299.6666666667px #ea2027;
  }
}

@keyframes explosion-2-blue {
  to {
    box-shadow: 226px -325.6666666667px #3742fa,
      -208px -177.6666666667px #3742fa, -113px -220.6666666667px #3742fa,
      -64px -20.6666666667px #3742fa, 203px -202.6666666667px #3742fa,
      -12px -161.6666666667px #3742fa, 138px -232.6666666667px #3742fa,
      -249px -148.6666666667px #3742fa, -42px -286.6666666667px #3742fa,
      -5px -0.6666666667px #3742fa, 173px 6.3333333333px #3742fa,
      -44px -165.6666666667px #3742fa, -40px 2.3333333333px #3742fa,
      182px -276.6666666667px #3742fa, 108px -151.6666666667px #3742fa,
      79px -89.6666666667px #3742fa, 122px -241.6666666667px #3742fa,
      211px 38.3333333333px #3742fa, -47px -147.6666666667px #3742fa,
      -226px -118.6666666667px #3742fa, -37px -373.6666666667px #3742fa,
      204px -118.6666666667px #3742fa, 137px -63.6666666667px #3742fa,
      62px -49.6666666667px #3742fa, 14px -11.6666666667px #3742fa,
      -222px -170.6666666667px #3742fa, -115px -163.6666666667px #3742fa,
      223px -32.6666666667px #3742fa, -152px -49.6666666667px #3742fa,
      -192px -88.6666666667px #3742fa, -50px -197.6666666667px #3742fa,
      126px -29.6666666667px #3742fa, -142px -387.6666666667px #3742fa,
      213px -53.6666666667px #3742fa, -21px 35.3333333333px #3742fa,
      105px -366.6666666667px #3742fa, -94px 5.3333333333px #3742fa,
      163px -306.6666666667px #3742fa, 45px -238.6666666667px #3742fa,
      31px -314.6666666667px #3742fa, 176px -180.6666666667px #3742fa,
      241px -11.6666666667px #3742fa, 88px -23.6666666667px #3742fa,
      -61px -158.6666666667px #3742fa, -56px 22.3333333333px #3742fa,
      -214px -59.6666666667px #3742fa, 121px -298.6666666667px #3742fa,
      123px -206.6666666667px #3742fa, -247px -284.6666666667px #3742fa,
      -90px -310.6666666667px #3742fa, -116px -299.6666666667px #3742fa;
  }
}

/* THIRD SHOW */
